@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Roboto:wght@100&display=swap');

body{ background-color: aqua;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    background: linear-gradient(90deg, rgb(59, 186, 249), rgb(242, 242, 153));
    color: white;
    font-size: large;
}

.Search input,button {
border-radius: 20px;
border-color: rgb(99, 235, 235);
}


input::placeholder {
    font-weight: bold;
    opacity: 0.5;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0%;
  }